<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h1>Recuperação de Senha</h1>

<p>
    Recupere sua senha acessando o link abaixo, caso você não tenha solicitado alteração de senha, ignore este E-mail.
</p>

<a href="@Link">Recuperar Senha</a>

@code {
    [Parameter]
    public string? Link { get; set; }
}